# Copy this file to .env and fill in the values
# .env is gitignored and must NEVER be committed

LOGIN=            # your 42 login (e.g. tania)
DOMAIN_NAME=login.42.fr

# MariaDB
MYSQL_DATABASE=wordpress
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# WordPress admin (username must NOT contain 'admin' or 'Admin')
WP_ADMIN_USER=
WP_ADMIN_PASSWORD=
WP_ADMIN_EMAIL=

# WordPress regular user
WP_USER=
WP_USER_PASSWORD=
WP_USER_EMAIL=
