LOGIN=tmarcos
DOMAIN_NAME=tmarcos.42.fr
DATA_PATH=/home/tmarcos/data

# MariaDB
MYSQL_DATABASE=wordpress
MYSQL_USER=wpuser
MYSQL_PASSWORD=wpuserpass123
MYSQL_ROOT_PASSWORD=rootpass123

# WordPress admin (username must NOT contain 'admin' or 'Admin')
WP_ADMIN_USER=taniawp
WP_ADMIN_PASSWORD=taniawppass123
WP_ADMIN_EMAIL=tania@tmarcos.42.fr

# WordPress regular user
WP_USER=taniareader
WP_USER_PASSWORD=readerpass123
WP_USER_EMAIL=reader@tmarcos.42.fr
